### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
round(4.5667,2)

4.57

2. Convert "657" to an integer data type

In [2]:
int('657')

657

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

In [60]:
import random

def code_gen(num1, num2):
    c1 = str(random.randint(num1,num2))
    c2 = str(random.randint(num1,num2))
    c3 = str(random.randint(num1,num2))
    c4 = str(random.randint(num1,num2))
    c5 = str(random.randint(num1,num2))
    c6 = str(random.randint(num1,num2))
    code = c1 + c2 + c3 + c4 + c5 + c6
    return code

#def print_code(code)
 #   p

num1 = int(input("Number one: "))
num2 = int(input("Number two: "))

code = code_gen(num1, num2)

Number one: 1
Number two: 6

In [61]:
code[0]+"-"+code[1]+"-"+code[2]+"-"+code[3]+"-"+code[4]+"-"+code[5]

'4-1-2-2-3-5'

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

In [8]:
message = "Hickory, dickory, dock, The mouse ran up the clock.   The clock struck one,  The mouse ran down, Hickory, dickory, dock"

In [9]:
message.replace(" ","")

'Hickory,dickory,dock,Themouseranuptheclock.Theclockstruckone,Themouserandown,Hickory,dickory,dock'

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [24]:
def calc_mpg(m, g):
    mpg = m/g
    return mpg

miles = int(input("Miles dirven: "))
gal = int(input("Gallons used: "))

Miles dirven: 240
Gallons used: 10

In [27]:
mpg = calc_mpg(miles, gal)
print(f"Your mpg is: {mpg:.1f} mpg")

Your mpg is: 24.0 mpg

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

In [32]:
def calc_area(r):
    area = 3.14*(r*r)
    return area

def calc_circum(r):
    circum = 3.14*(r+r)
    return circum

radius = int(input("Please enter circle radius: "))

area = calc_area(radius)
circum = calc_circum(radius)

Please enter circle radius: 4

In [34]:
print(f"\nArea is {area:.1f}")
print(f"Circumference is {circum:.1f}")

Area is 50.2
Circumference is 25.1

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [42]:
def multiply_two(n1, n2):
    print(f"{n1} * {n2} = {n1*n2}")
    return

num1 = random.randint(1,100)
num2 = random.randint(1,100)

In [43]:
multiply_two(num1, num2)

51 * 10 = 510

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27

In [63]:
def multi_table(num, n):
    print(f"{num} X {n} = {num * n}")
    return

num1 = int(input("Enter a number: "))

Enter a number: 3

In [65]:
n = 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)
n += 1
multi_table(num1, n)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27